<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Hotel Hilton</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" routerLinkActive="active">Home</a>
        </li>

        <li class="nav-item" *ngIf="!clienteLogueado">
          <a class="nav-link" routerLink="/login" routerLinkActive="active">Iniciar Sesión</a>
        </li>
        
        <li class="nav-item" *ngIf="!clienteLogueado">
          <a class="nav-link" routerLink="/registro" routerLinkActive="active">Registrarse</a>
        </li>
        
        
      </ul>
    </div>
  </div>
</nav>

<!-- FONDO OSCURO -->
<div class="modal-backdrop" *ngIf="loginClienteVisible" (click)="cerrarLoginCliente()"></div>
