<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Hotel Hilton</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" routerLinkActive="active">Home</a>
        </li>

        <!-- Si está logueado y es empleado -->
        <li class="nav-item" *ngIf="puedeVerReservas">
          <a class="nav-link" routerLink="/reservaciones" routerLinkActive="active">Reservaciones</a>
        </li>

        <!-- No logueado -->
        <li class="nav-item" *ngIf="!usuario">
          <a class="nav-link" href="#" (click)="abrirLogin()">Iniciar Sesión</a>
        </li>
        <li class="nav-item" *ngIf="!usuario">
          <a class="nav-link" href="#" (click)="abrirRegistro()">Registrarse</a>
        </li>

        <!-- Mini perfil -->
        <li class="nav-item dropdown" *ngIf="usuario">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            {{ nombreParaMostrar }}
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" routerLink="/perfil-cliente">Mi Perfil</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#" (click)="logout()">Cerrar sesión</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Login Modal -->
<app-login-modal
  *ngIf="mostrarLogin"
  [mostrarModal]="mostrarLogin"
  (cerrar)="cerrarLogin()"
></app-login-modal>

<!-- Registro Modal -->
<app-registro-modal
  *ngIf="mostrarRegistro"
  [mostrarModal]="mostrarRegistro"
  (cerrar)="cerrarRegistro()"
></app-registro-modal>
