<div class="container mt-5" style="max-width: 500px;">
    <h2>Registro de Cliente</h2>
    <form (ngSubmit)="registrar()">
      <div class="mb-3">
        <label>Nombre</label>
        <input type="text" class="form-control" [(ngModel)]="datos.first_name" name="first_name" required>
      </div>
      <div class="mb-3">
        <label>Apellido</label>
        <input type="text" class="form-control" [(ngModel)]="datos.last_name" name="last_name" required>
      </div>
      <div class="mb-3">
        <label>Email</label>
        <input type="email" class="form-control" [(ngModel)]="datos.email" name="email" required>
      </div>
      <div class="mb-3">
        <label>Teléfono</label>
        <input type="text" class="form-control" [(ngModel)]="datos.phone" name="phone">
      </div>
      <div class="mb-3">
        <label>Dirección</label>
        <input type="text" class="form-control" [(ngModel)]="datos.address" name="address">
      </div>
      <div class="mb-3">
        <label>Contraseña</label>
        <input type="password" class="form-control" [(ngModel)]="datos.password" name="password" required>
      </div>
  
      <button type="submit" class="btn btn-success w-100">Registrarse</button>
    </form>
  
    <div *ngIf="mensaje" class="alert alert-success mt-3">{{ mensaje }}</div>
    <div *ngIf="error" class="alert alert-danger mt-3">{{ error }}</div>
  </div>
  