<div class="p-4 shadow rounded bg-white mb-5">
  <h3>Resultados de búsqueda</h3>

  <div>
    <p><strong>Destino:</strong> {{ destinoname }}</p>
    <p><strong>Check-in:</strong> {{ checkin }}</p>
    <p><strong>Check-out:</strong> {{ checkout }}</p>
    <p><strong>Habitaciones:</strong> {{ habitaciones }}</p>
    <p><strong>Huéspedes:</strong> {{ huespedes }}</p>
  </div>

  <!-- Mostrar hoteles y sus habitaciones -->
  <div *ngIf="hoteles.length > 0; else noResults">
    <div class="list-group">
      <h5>{{ destinoname }}</h5>
      <p>{{ destinoaddress }}</p>
      <p>{{ destinophone }}</p>
      <div class="list-group-item mb-4" *ngFor="let room of rooms">

        <h6 class="mt-3">Habitaciones disponibles:</h6>
        <div class="card">
          <img [src]="room.image_url" class="card-img-top" alt="Imagen habitación {{ room.number }}">
          <div class="card-body">
            <h5 class="card-title">Habitación {{ room.number }}</h5>
            <p class="card-text">{{ room.description }}</p>
            <p class="card-text">
              <strong>Tamaño:</strong> {{ room.size }} m²<br>
              <strong>Precio:</strong> ${{ room.price_per_night }} por noche<br>
              <strong>Impuesto:</strong> ${{ room.tax }}
            </p>
            <a class="btn btn-primary"
              [routerLink]="['/confirmacion-reserva']"
              [queryParams]="{
                roomid: room.id,
                checkin: checkin,
                checkout: checkout,
                numeroHabitacion: room.number,
                precio: room.price_per_night
              }">
              Reservar
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #noResults>
    <p>Estos son los resultados disponibles con tu búsqueda.</p>
  </ng-template>
</div>
