<div class="p-4 shadow rounded bg-white mb-5">
  <h3>Resultados de búsqueda</h3>

  <div>
    <p><strong>Destino:</strong> {{ destino }}</p>
    <p><strong>Check-in:</strong> {{ checkin }}</p>
    <p><strong>Check-out:</strong> {{ checkout }}</p>
    <p><strong>Habitaciones:</strong> {{ habitaciones }}</p>
    <p><strong>Huéspedes:</strong> {{ huespedes }}</p>
  </div>

  <!-- Mostrar hoteles y sus habitaciones -->
  <div *ngIf="hoteles.length > 0; else noResults">
    <div class="list-group">
      <div class="list-group-item mb-4" *ngFor="let hotel of hoteles">
        <h5>{{ hotel.nombre }}</h5>
        <p>{{ hotel.descripcion }}</p>

        <h6 class="mt-3">Habitaciones disponibles:</h6>
        <div class="row">
          <div class="col-md-6 mb-3" *ngFor="let habitacion of hotel.habitaciones">
            <div class="card">
              <img [src]="habitacion.imagen" class="card-img-top" alt="Imagen habitación {{ habitacion.tipo }}">
              <div class="card-body">
                <h5 class="card-title">{{ habitacion.tipo }}</h5>
                <p class="card-text">{{ habitacion.descripcion }}</p>
                <p class="card-text">
                  <strong>Capacidad:</strong> {{ habitacion.capacidad }} personas<br>
                  <strong>Precio:</strong> ${{ habitacion.precio }} por noche
                </p>
                <a class="btn btn-primary"
                   [routerLink]="['/confirmacion-reserva']"
                   [queryParams]="{
                     hotel: hotel.nombre,
                     destino: destino,
                     checkin: checkin,
                     checkout: checkout,
                     huespedes: huespedes,
                     habitaciones: habitaciones,
                     tipoHabitacion: habitacion.tipo,
                     precio: habitacion.precio
                   }">
                  Reservar
                </a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <ng-template #noResults>
    <p>Estos son los resultados disponibles con tu búsqueda.</p>
  </ng-template>
</div>
